.listing {
  list-style: none;
  border-bottom: 1px solid #ccc;
}

.listingLayout {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.symbol {
  width: 15%;
}

.fullName {
  width: 50%;
}

.trend {
  width: 15%;
}

.latestRate {
  width: 20%;
  color: #0a76ce;
}
